.article-show {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.article-show dl {
    margin-top: 50px;
}
.article-show dt {
    text-align: right;
    width: 200px;
}
.article-show dd {
    width: 400px;
    padding: 0 60px;
}
.article-show .show-btn a {
    padding: 15px 20px;
}
.article-show .show-btn a:nth-child(n + 2) {
    margin-left: 15px;
}
