@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.navbar{
  padding-left: 30px;
  padding-right: 30px;
}

.nav-logo {
  font-family: 'Righteous', cursive;
  font-size: 24px;
}
.nav-item a {
  color: hsla(0,0%,100%,.5) !important;
}
.nav-item a:hover {
  color: hsla(0,0%,100%,.75) !important;
}

